/*
*
*   FEATURE CARDS
*
*/
.option-card {
    background-color: #fff;
    padding: 60px 0px;
}
.feature-card {
    background-color: transparent;
    box-shadow: none;
    height: 285px;
    perspective: 1000px;
}
.feature-card:hover {
    box-shadow: none;
}
.feature-image, .option-image {
    display: flex;
    justify-content: center;
    background-color: #fff;
}
#features-cards .card {
    flex: 0 0 23%;
}
#features-cards .card-body {
    padding: 60px 0;
    height: unset;
}
#features-cards .card-body .label {
    text-align: center;
}

.feature-card .flip-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.feature-card:hover .flip-inner, .feature-card.flipped .flip-inner {
    transform: rotateY(180deg);
}
  
.flip-inner .front, .flip-inner .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
}

.flip-inner .back {
    transform: rotateY(180deg);
}

@media (min-width: 768px) and (max-width: 1024px) {
    #features-cards .card {
        flex: 0 0 48%;
    }
}
@media (max-width: 768px) {
    #features-cards .card {
        flex: 1 0 100%;
    }
}
/*
*
*   OPTION CARDS
*
*/
#options-container {
    max-width: unset;
    width: 100vw;
    position: relative;
}
#options-container svg {
    transform: rotate(180deg);
    position: absolute;
    bottom: 0px;
    opacity: 0.15;
}
#options-container > .content {
    background-color: #fff;
    padding: 0;
}
#options-container .cards-container {
    margin: auto;
    max-width: 1140px;
}
@media (max-width: 768px) {
    #options-container .cards-container {
        flex-direction: column;
    }   
    #options-container svg {
        height: 200px;
    }
}
#options-container .cards-container
.option-card {
    border-radius: 0px;
    box-shadow: none;
    flex: 18%;
    margin-bottom: 0px !important;
}
.option-card:hover {
    box-shadow: none;
}
.option-card .card-body {
    height: unset;
    padding-bottom: 0px;
    text-align: center;
}